<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>站点分布</title>
	<script type="text/javascript " src="/js/echarts.js"></script>
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/liaoning.js"></script>
	<script src="/js/guizhou.js"></script>
	<script src="/js/socket.io/socket.io.js" type="text/javascript"></script>
</head>
<body>
	<div id='site' style="position: relative; overflow: hidden;width: auto; height: 580px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"></div>
	<div id='show' >
		<p id="test1"></p>
	</div>
	<script src='/js/site.js'></script>
</body>
</html>